@charset "UTF-8";


body{
    background-color: rgb(143, 143, 202);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

/* utilizando id  */
#principal{
    background-color: rgba(32, 43, 104, 0.306);
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

/* utilizando classe */
.subtitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;

}
.basico{
    font-style: italic;
    color: rgba(8, 64, 8, 0.727);
    
}
.ultimo{
    background-color: black;
    color: brown;
    
}